p {
    margin: 0;
}

button {
    width: 75px;
}

#page-wrapper {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#color-buttons {
    width: 300px;
    margin-top: 50px;
}

#color-buttons div {
    clear: both;
}

#color-buttons div button, #color-buttons div p {
    float: left;
    margin: 5px;
}

#color-button div p {
    width: 80px;
}

#character {
    margin-left: 300px;
    width: 300px;
    margin-top: -125px;
}

#chest-img, #legs-img {
    margin-top: -7px;
}