p {
    margin: 0;
}

#page-wrapper {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#color-buttons div button, #color-buttons div p {
    float: left;
    margin: 5px;
}

#color-buttons div {
    clear: both;
}

#character {
    clear: both;
}

#chest, #legs {
    margin-top: -5px;
}